vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign
btcqd
build/
qbtcd
debug_container.svg
.golangci.bck.yml
.qbtclocalnode/
config.json
config.yml
utxo-indexer
.bifrost/
cmd/bifrost/bifrost_data/
cmd/bifrost/bifrost
cmd/bifrost/db